*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
:root{
  --bg-color: #fff;
  --text-color: #221314;
  --second-color: #5a7184;
  --main-color: #6e54fa;
  --big-font: 6rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}
body{
  background: var(--bg-color);
  color: var(--text-color);
}
header{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 18px 8%;
  transition: ease .40s;
  background-color: black;
}


.logo-img{
  width: 150px;
}

.navbar{
  display: flex;

}
.navbar a{
  color: var(--bg-color);
  font-size: var(--p-font);
  font-weight: 500;
  padding: 10px 22px;
  border-radius: 4px;
  transition: ease .40s;
}
.navbar a:hover{
  background: var(--bg-color);
  color: var(--text-color);
  box-shadow: 5px 10px 30px rgb(85 85 85 / 20%) ;
  border-radius: 4px;
}
#menu-icon{
  color: var(--bg-color);
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
section{
  padding: 80px 8%;

}


.home{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../images/227186-download-wallpaper-3840x2160-silhouette-lonely-mountain-night.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  
}
.home-text h1{
  font-size: 50px;
  line-height: 1.0;
  color: #dff9fb;
  font-family: 'Anton', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 35px;
  margin-top: 20px;
  font-weight: 800;
  text-align:center;
  

}
/* .home-text p{
  color: #1a1818bf;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 10px;
  text-align:center;
} */
.home-btn{
   display: inline-block;
   font-size: 16px;
   padding: 15px 30px;
   background: #ff9f43;
   color:rgb(15, 15, 15);
   border-radius: 4px;
   transition: ease .40s;
   font-weight: 800;
   

}
.home-btn-container{
  text-align: center;
}
.home-btn:hover{
  background:white;
  color: black;
  transform: scale(1.0);
}
.registration{
  padding: 8px 10px;
  background-color: #2e86de;
  
  font-weight: bold;
  border: none;
  border-radius: 3px;

}
.registration a{
  color: white;
}
.registration:active{
  background-color: #6e54fa;
}
.home-container{
  position: relative;
}
.search-transparent-background-container{
  position: absolute;
  background-color: rgba(88, 87, 87, 0.3);

  top: 73%;
  left: 10%;
  right: 10%;
  bottom: 5%;
}
.search-white-background-container{
  position: absolute;
  top: 30%;
  left: 8%;
  right: 8%;
  bottom: 20%;
  padding-top: 25px;
  background-color: rgb(252, 252, 249);
  text-align: center;
  
}
.search-trip-heading{
  position: absolute;
  top: 8%;
  left: 40%;
  right: 40%;
  bottom: 70%;
  background-color: rgb(252, 252, 249);
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-weight: bold;
  padding-top: 8px;
}
.trip{
  padding: 10px 8px;
  
}
.search-button-container{
  position: absolute;
  top: 90%;
  bottom: -5%;
  left: 47%;
  right: 45%;
  
}
.search-button{
  background-color: #ff9f43;
  border: none;
  padding:10px 20px;
  border-radius: 5px;
  font-weight: bold;
  
}